/*font-family: 'Roboto', sans-serif;*/
.wrapper{max-width:2000px;margin: auto;}
.clearfix {overflow: auto;clear: both;}
.newHeader{border-bottom: 0;}
.topHeader{background: #f3f3f3; -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1); }
.topheaderLeft{float: left;}
.topheaderRight{float: right;}
.topnavUl{ list-style: none }
.topnavUl li{display: inline-block; font:400 15px/20px 'Roboto',sans-serif; color: #000; position:relative;padding: 8px 0;cursor: pointer;}
.topnavUl li ~ li{margin-left: 27px;}
.topnavUl li ul{position: absolute;top: 100%;left: auto;width: auto;min-width: 200px;opacity: 0;visibility: hidden;-webkit-transition: 300ms all;-moz-transition: 300ms all;-o-transition: 300ms all;-ms-transition: 300ms all;z-index:35;transform: translateY(5%);-webkit-transform: translateY(5%);-moz-transform: translateY(5%);border-top: 2px solid #33ccff;box-shadow: 0 6px 12px rgba(0, 0, 0, .175);}
.topnavUl li ul:before {content: "";border-bottom: 8px solid #33ccff;border-left: 6px solid transparent;border-right: 6px solid transparent;position: absolute;left:8px;margin: auto;top: -10px;width: 0px;height: 0px;}
.topnavUl li ul li{background: rgba(0,0,0,0.81);display: block;color: #fff;}
.topnavUl li ul li a{color: #fff;padding: 8px 10px;}

.topRegisterUl{ list-style: none;display: inline-block; vertical-align: middle;}
.topRegisterUl li{display: inline-block; font:400 15px/20px 'Roboto',sans-serif; color: #000; position:relative;padding: 8px 0;}
.topRegisterUl li ~ li{margin-left: 20px;}
.topRegisterUl li ~ li > a:before {content: "";position: absolute;left: -11px;top: 0px;bottom: 0;margin: auto;width: 1px;height: 17px;background: #cfcfcf;}
.topRegisterUl li:last-child > a:before{display: none;}

.loginsvgImg{    display: inline-block;vertical-align: middle;height: 18px;}
.loginsvgImg .svgImg{display: inline-block;width: 13px;height: 17px;margin-right: 2px;}
.topAddToCart{display: inline-block;vertical-align: middle;background: #fff;z-index: 1;position: relative;}
.topAddToCart:after {content: '';position: absolute;width: 100%;height: 10px;background: #fff;left: 0;right: 0;bottom: -4px;z-index: -1;}
.topAddToCart a{display: block;padding: 6px 11px; }
.topRegisterUl li.topAddToCart{padding: 0;}
.topAddToCartImgTag{display: inline-block;vertical-align: middle;height: 21px;margin-right: 5px;}
.topAddToCartImgTag .svgImg{display: inline-block;width: 23px; height: 21px;}
.topAddToCartCount{width: 21px;height: 21px; display: inline-block;vertical-align: middle;background:#feda00; border-radius: 50%;text-align: center; font:500 13px/21px 'Roboto',sans-serif;}
.middleHeader{padding: 12px 0 10px;}
.middleHeader .logo{padding: 7px 0 3px;}
.bottomHeader{background: #33ccff;padding: 13px 0;}
.topFilter{float: left;width: 100%;}
.topFilter .col_Div{float: left;}
.topFilter .col_Div ~ .col_Div{margin-left: 15px;}
.topFilter .col_Div.homecstCategories{margin-left: 0px;}
.topFilter .col_Div:nth-child(1){max-width: 170px;}
.topFilter .col_Div:nth-child(2){max-width: 323px;}
.topFilter .col_Div:nth-child(3){max-width: 185px;}
.topFilter .col_Div:nth-child(4){max-width: 200px;}
.topFilter .col_Div:nth-child(5){max-width: 107px;}
.topFilter .col_Div:nth-child(6){max-width: 125px;}
.customSelect.homecstSelect .spanOut{border-radius: 30px;border-color: #fff;font:400 15px/37px 'Roboto',sans-serif;padding: 0 17px;}
.customSelect.homecstParts .spanOut:before{ content: "\f0c9";font-family: FontAwesome;font-size: 15px;color: #33ccff;position: absolute;left: 18px;top: 0;bottom: 0;margin: auto;line-height: 38px;height: auto;width: auto;border: none;}
.customSelect.homecstSelect .spanOut:after{content: "\f107";font-family: FontAwesome;font-size: 20px;color: #000000;position: absolute;right:20px;top: 0;bottom: 0;margin: auto;line-height: 40px;height:auto;width: auto;border:none;}
.customSelect.homecstParts .spanOut.parts{padding-left: 40px;}
.homeSearchBox{float: left;width: 100%;}
.customSelect.homecstSelect.homecstCategories  .spanOut{border-top-left-radius: 0;border-bottom-left-radius: 0;}
.homeSearchBox .inputFils::-webkit-input-placeholder {
    color:#000000
}
.homeSearchBox .inputFils:-moz-placeholder {
    color:#000000;
    opacity:1
}
.homeSearchBox .inputFils::-moz-placeholder {
    color:#000000;
    opacity:1
}
.homeSearchBox .inputFils:-ms-input-placeholder {
    color:#000000
}

.homeSearchBox .inputFils{border-color:#fff;border-radius: 30px 0 0 30px;width:100%;float: left;font-family:'Roboto',sans-serif;padding-left: 18px;}
.homeSearchBox .customSelect.homecstCategories{max-width: 185px;}
.homecstSelect.homecstCategories.customSelect:before {content: '';background: #cfcfcf;position: absolute;left: -1px;top: 0;bottom: 0;margin: auto;width: 1px;height: 22px;z-index: 1;}
.homeSearchBox .customSelect.homecstSelect .spanOut{border-radius: 0 30px 30px 0;}
.btn{    font-family: 'Roboto',sans-serif;font-weight: 500;font-size: 14px;padding: 5px 15px 2px;line-height: 30px;}
.yellowBtn{background: #fec500;border-color: #fec500;color: #333;}
.postAnAdBtn{min-width: 125px;}
.headrPostDiv{display: none;}
.roundBtn{border-radius: 30px;}
.searchBtn{min-width: 107px;background: transparent; border-color: #fff;}
.topadds{width: 728px; height: 90px; float: right;}
.topadds a{display: inline-block;}
.topsDesktopAdds{display: block;}
.topsMobileAdds{display: none;}
.bannerSection{float: left;width: 100%;}
.sectionBanner{position: relative;float: left;}
.sectionBanner:after{content:'';position: absolute; left:0; right: 0; top:0; bottom: 0; margin: auto;display: block; background: rgba(0,0,0,0.35);}
.homebannerText{font-family: 'Montserrat',sans-serif;font-size: 41px;line-height: 40px;font-weight: 700;color: #fff;position: absolute;z-index: 1;top: 50%;left: 50%;white-space: nowrap;-ms-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.75);}
.leftBanner{float: left;margin-left: -415px;min-width: 404px;}
.rightBanner{float: right;margin-right:-415px;min-width: 404px;}


.combinedAdds{display: none;}

.homeSecTitle{font-family: 'Montserrat',sans-serif;font-size: 22px;line-height: 24px;font-weight: 500;color:#000000;display: inline-block;position: relative;}
.homeSecTitle:after{content: '';width: 75px;height: 1px;background: #000;display: inline-block;vertical-align: middle;margin-left: 13px;}

.featurePartSection{position: relative;}
.featurePartDiv{position: relative;}
.findServiceSliderWrap{position: relative;}
.featurePartSlider {margin: 0 -10px;margin-top: 20px;width: auto;}
.featurePartSlider .sliderSlides{float: left;padding-left: 10px;padding-right: 10px;}
.featurePartSlider .slides{border: 1px solid #e1e1e1;}
.featurePartImg{position: relative;}
.featurePartTitleDiv{background: #f1fcff;}
.featurePartTitle{font-family:'Roboto',sans-serif;font-size: 14px; line-height: 20px;font-weight: 400;color: #000000;padding: 11px;border-top: 2px solid #33ccff;}

.slideSArrow{text-align:center;position:absolute;top:-10px;right:0;}
.slideArrow, .slideMArrow{text-align:center;position:absolute;top:0px;right:0;margin-bottom:18px;}
.slideArrow .slick-arrow, .slideSArrow .slick-arrow, .slideMArrow .slick-arrow{display:inline-block;vertical-align:middle;width:17px;height:17px;background-color:transparent;position:relative;-webkit-transform:none;-moz-transform:none;-o-transform:none;transform:none;top:inherit;left:inherit;right:inherit;margin:0 5px;font-size:0;opacity:0.3;-moz-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;-webkit-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
.slideArrow .slick-arrow ~ .slick-arrow , .slideSArrow .slick-arrow ~ .slick-arrow ,  .slideMArrow .slick-arrow ~ .slick-arrow {margin-left:14px;}
.slideArrow .slick-arrow:after, .slideSArrow .slick-arrow:after, .slideMArrow .slick-arrow:after{position:absolute;right:0;top:0;bottom:0;left:0;margin:auto;content:'';background:url(../images/sliderArrow.svg) no-repeat;width:17px;height:13px;}
.slideArrow .slick-prev:after, .slideSArrow .slick-prev:after, .slideMArrow .slick-prev:after{-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg);}

.contentSideAdds .contentSideAddsDiv{width:218px;height:372px;display: inline-block; vertical-align: middle;}
.contentSideAdds .findServiceSliderWrap{display: inline-block; vertical-align: middle;width: calc(100% - 242px);margin-right: 20px;}
.contentSideAdds .contentSideAddsDiv.topsMobileAdds{display: none;}
.findServiceSection{position: relative;}
.findServiceDiv{position: relative;margin-top: 34px;}
.findServiceSlider {margin: 0 -10px;margin-top: 20px;width: auto;}
.findServiceSlider .sliderSlides{float: left;padding-left: 10px;padding-right: 10px;padding-bottom: 20px;}
.findServiceSlider .slides{border: 1px solid #e1e1e1;}
.findServicetImg{position: relative;}
.findServiceTitleDiv{background: #f1fcff;}
.findServiceTitle{font-family:'Roboto',sans-serif;font-size: 14px; line-height: 20px;font-weight: 400;color: #000000;padding:9px 11px;border-top: 2px solid #33ccff;}
.findServiceSub{font-family:'Roboto',sans-serif;font-size: 13px; line-height: 20px;font-weight: 500;color: #000000;display: block;}

.middleadds{width: 728px;height: 90px;margin:auto auto 20px;}
.middleadds a{display: inline-block;}

.findMachineSection{position: relative;background: #f7f7f7;padding:34px 0;}
.findMachineDiv{position: relative;}
.findMachineSlider {margin: 0 -10px;margin-top: 20px;width: auto;}
.findMachineSlider .sliderSlides{float: left;padding-left: 10px;padding-right: 10px;}
.findMachineSlider .slides{border: 1px solid #e1e1e1;}
.findMachineImg{position: relative;}
.findMachineTitleDiv{background: #f1fcff;}
.findMachineTitle{font-family:'Roboto',sans-serif;font-size: 14px; line-height: 20px;font-weight: 400;color: #000000;padding: 11px;border-top: 2px solid #33ccff;}

.benefitsSection{padding: 34px 0;}
.ourBenefitMain{float: left;width: 100%;}
.ourBenefitDiv{float: left;width: calc(100% - 475px);border-radius: 4px;box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);overflow: hidden;margin-right: 20px;background: url(../images/tradAccBackImg.jpg) no-repeat; padding: 35px 36px;}
.ourBenefitLogo{display: inline-block;vertical-align: middle;width: 184px;}
.ourBenefitTop .homeSecTitle{font-family: 'Montserrat',sans-serif;font-size: 22px;line-height: 24px;font-weight: 500;color: #000000;display: inline-block;position: relative;vertical-align: middle;width: calc(100% - 188px);}
.ourBenefitsMain{display: block;width: 100%; margin-top: 24px;text-align: center;}
.ourBenefitsBox{    display: inline-block;width: calc(33.33% - 12px);position: relative;text-align: center;}
.ourBenefitsBox a{display: block;}
.ourBenefitsBox ~ .ourBenefitsBox{margin-left: 13px}
.ourBenefitsImg{position: relative;background: #fff;}
.ourBenefitsBox:nth-of-type(2) .ourBenefitsImg{background: #44474c;}

.ourBenefitsBox .ourBenefitsImg:after{content: '';background: url(../images/box-joint-pin.png) no-repeat; width: 40px;height: 9px;position: absolute;right: -26px; top:30px;z-index: 1;}
.ourBenefitsBox .ourBenefitsImg:before{content: '';background: url(../images/box-joint-pin.png) no-repeat; width: 40px;height: 9px;position: absolute;right: -26px; bottom:30px;z-index: 1;}
.ourBenefitsBox:last-child .ourBenefitsImg:after, .ourBenefitsBox:last-child .ourBenefitsImg:before{display: none;}

.ourBentIcon.absoImg{bottom: inherit;right: inherit; top:50%; left: 50%; transform: translate(-50%, -50%);}
.ourBentIcon .svgImg{display: inline-block;width: 87px;height: 68px;vertical-align: middle;}
.ourBenefitsTitle{font-family:'Roboto',sans-serif;font-size: 18px; line-height: 22px;font-weight: 500;color: #ffffff;display: inline-block;padding-top: 20px;padding-bottom: 10px;}
.ourBenefitsTitle:after{content: '';display: inline-block;background: #feda00;width: 50px;height: 2px;position: absolute;left: 0;right: 0;bottom: 0;margin: auto;}


.tradingAccountDiv{width: 455px;float: left;border-radius: 4px;box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);overflow: hidden;}
.tradingAccountImg{position: relative;}
.tradingAccountConent{padding: 21px 30px 24px;}
.tradingTitle{font-family:'Roboto',sans-serif;font-size: 24px;line-height: 26px;font-weight: 400;color: #000000;position: relative;padding-bottom: 11px;}
.tradingTitle:after{content: '';display: inline-block;background: #feda00;width: 75px;height: 2px;position: absolute;left: 0;bottom: 0;}
.tradAccOpen{font-family:'Roboto',sans-serif;font-size: 18px;line-height:23px;font-weight:500;color: #000000;margin: 16px 0 14px;}
.tradAccUl li{font-family:'Roboto',sans-serif;font-size: 16px;line-height:20px;font-weight:400;color: #33ccff;display: inline-block;position: relative;padding-left: 30px;}
.tradAccUl li ~ li{margin-left: 16px;}
.tradAccUl li:before{content: '';background: url(../images/tradeArrow.svg);width: 24px;height: 16px;display: inline-block;vertical-align: top;position: absolute;left: 0;top: 2px;}
.tradAccUl li a{color: #33ccff;display: inline-block;position: relative;}
.tradAccUl li a:after{content: '';position: absolute;left: 0; bottom: 0; height: 1px;width: 0;background: #33ccff; -webkit-transition: all .5s ease; -moz-transition: all .5s ease;-ms-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease; }

.homeTestimonialSection{padding: 34px 0;background: #f7f7f7;}
.homeTestimonialSlider{padding: 0 180px;position: relative;}
.homeTestimonialSlider:before{content: '';position: absolute; left: 47px;top:52px;background: url(../images/testiMonilQuoteImg.svg) no-repeat;width: 87px; height: 70px;}
.testislide{text-align: center;}
.testimonialTitle{font-family: 'Montserrat',sans-serif;font-size: 22px;line-height: 24px;font-weight: 500;color: #000000;display: inline-block;}
.testimonialConent{font-family:'Roboto',sans-serif;font-size: 17px;line-height:24px;font-weight:300;color: #000000;display: inline-block;padding: 20px 0;position: relative;margin-bottom: 15px;}
.testimonialConent:after{content: ''; position: absolute; left: 0; right: 0; bottom: 0; margin: auto;width: 100px; height: 2px;background: #33ccff;}
.testiAutherContent{text-align: left;float: left; width: calc(100% - 134px);margin-top: 5px;}
.testiAutherDetail{text-align: center;margin: auto;display: inline-block;clear: both;}
.testiAutoImg{width: 114px;height: 55px;float: left; border:1px solid #e1e1e1;margin-right: 20px;}
.testiAutoImg img{display: inline-block;}
.textiAutherName{font-family:'Roboto',sans-serif;font-size: 18px;line-height:24px;font-weight:500;color: #33ccff;margin-bottom: 5px;}
.testiAutherPosition{font-family:'Roboto',sans-serif;font-size: 14px;line-height:18px;font-weight:400;color: #000000;}

.homeMiddle .slick-dots{display: block;width: 100%;padding: 0;list-style: none;text-align: center;}
.homeMiddle .slick-dots li{position: relative;display: inline-block;width: 12px;height: 12px;margin:0;padding: 0;cursor: pointer;}
.homeMiddle .slick-dots li ~ li {margin-left: 10px}
.homeMiddle .slick-dots li button{font-size: 0;line-height: 0;display: block;width: 12px;height: 12px;padding: 5px;cursor: pointer;background: #33ccff;opacity: 0.3; width: 12px; height: 12px; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;-ms-border-radius: 50%;-o-border-radius: 50%;}
.homeMiddle .slick-dots li.slick-active button{opacity: 1;}

.latestBlogSection{padding: 34px 0;}
.latestBlogMain{margin-top: 20px;width:100%;float: left;}
.viewAllBlog{font-family:'Roboto',sans-serif;font-size: 14px;line-height:16px;font-weight:400;color:#666666;float:right;margin-top: 6px;}
.viewAllArrow{display: inline-block;margin-left: 5px;}
.viewAllBlog .svgImg{display: inline-block;vertical-align: middle;width: 14px; height: 12px;}
.viewAllBlog .svgImg path{-moz-transition: all 0.4s ease;-ms-transition: all 0.4s ease;-webkit-transition: all 0.4s ease;transition: all 0.4s ease;}

.latestBlogImg{position: relative;width: 250px; float: left;}
.latestBlogContent{float: left; width: calc(100% - 250px);}
.latestBlogContentInner{height: 100%;padding:12px 0px 12px 15px;}
.latestBlogTitle{font-family:'Roboto',sans-serif;font-size: 18px;line-height:24px;font-weight:500;color: #000000;margin-bottom: 25px;}
.latestBlogText{font-family:'Roboto',sans-serif;font-size: 16px;line-height:20px;font-weight:400;color: #5c5c5c;margin-bottom: 10px;}
.latestBlogReadMore{font-family:'Roboto',sans-serif;font-size: 13px;line-height:15px;font-weight:400;color: #feda00;display: inline-block;}
.blogArrow{display: inline-block;margin-left: 5px;}
.blogArrow .svgImg{display: inline-block;vertical-align: middle;width: 14px; height: 12px;}
.blogArrow .svgImg path{-moz-transition: all 0.4s ease;-ms-transition: all 0.4s ease;-webkit-transition: all 0.4s ease;transition: all 0.4s ease;}
/*---------Medai Query-----------*/

/* css only for hover effect all hover effect must write in this Media query */
@media only screen and (min-width: 1200px) {
    .topnavUl li.topsubnavLi:hover ul {opacity: 1;visibility: visible;-moz-transform: translateY(0);-webkit-transform: translateY(0);transform: translateY(0);}
    .topnavUl li.topsubnavLi:hover i.fa{color:#33ccff;-moz-transition: all 0.4s ease;-ms-transition: all 0.4s ease;-webkit-transition: all 0.4s ease;transition: all 0.4s ease;}
    .topHeader ul li a:hover{color:#33ccff;-moz-transition: all 0.4s ease;-ms-transition: all 0.4s ease;-webkit-transition: all 0.4s ease;transition: all 0.4s ease;}
    .topHeader ul li:hover a{color:#33ccff;}
    .postAnAdBtn.yellowBtn:hover{    background: #556080;border-color: #556080;color: #fff;}
    .searchBtn:hover{color: #33ccff;}
    .slideArrow .slick-arrow:hover, .slideSArrow .slick-arrow:hover, .slideMArrow .slick-arrow:hover{opacity: 1;}
    .tradAccUl li a:hover:after{width: 100%;}
    .ourBenefitsBox a:hover .ourBenefitsImg{background: #44474c;}
    .ourBenefitsBox:nth-of-type(2) a:hover .ourBenefitsImg{background: #ffffff;}
    .latestBlogReadMore:hover{color: #33ccff;}
    .latestBlogReadMore:hover  .blogArrow .svgImg path{fill:#33ccff;}
    .viewAllBlog:hover{color: #33ccff;}
    .viewAllBlog:hover  .viewAllArrow .svgImg path{fill:#33ccff;}
    .latestBlogTitle a:hover{color:#33ccff;}
}

/* Custome responsive css start from here */

/* common css for below screen 1920 */
@media only screen and (max-width: 1900px) {
    .leftBanner{display: none;}
    .rightBanner{display: none;}
    .combinedAdds{display:block;float: left;width: 100%;margin:20px 0px;}
    .leftBannerAdds{text-align: right;}
    .rightBannerAdds{text-align: left;}
}

/* common css for below screen 1199 */
@media only screen and (max-width: 1199px) {
    .topnavUl li.topsubnavLi.subNav i.fa{width:30px;height: 20px;}
    .topnavUl li ul.ulOpen{opacity: 1;
    visibility: visible;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);}
}

/* common css for below screen 991 */
@media only screen and (max-width: 991px) {
    .menuIcon{display: none;}
    .homebannerText{font-size: 31px;line-height: 30px;}
/*    .contentSideAdds .contentSideAddsDiv, .contentSideAddsDiv{display: none;}*/
    
    .ourBenefitDiv{width: 100%;margin-bottom: 30px;background-size: cover;}
    .tradingAccountDiv{width: 100%;}
    
    
    .topadds .closeTopAds.topsMobileAdds{display: none;}
    .topadds{width: 355px;height: 50px;margin-top: 8px;position: relative;}
    .topadds .topsDesktopAdds{display: none;}
    .topadds .topsMobileAdds{display: block;}
    .tradingAccountImg img{width: 100%;height: 100%;}
    .homeTestimonialSlider{padding: 0 80px;}
    .homeTestimonialSlider:before{width: 57px;height: 40px;left: 16px;}
    .testimonialConent{font-size: 16px;}
    .container{width: 100%;}
}



/* common css for below screen 767 */
@media only screen and (max-width: 767px) {
    .topsDesktopAdds{display: none;}
    .topsMobileAdds{display: block;}
    .homeMiddle .container{padding-left: 10px; padding-right: 10px;}
    .footerSubNewsletter .footTitle{display: block;}
    .newsLetterBlock{/*margin: auto;*/}
    .closeTopAds{display: block;position: absolute;right: 0;top: 0;height: 30px;width: 30px;z-index: 99;}
    .closeTopAds .svgImg{width: 12px;height: 11px;/* display: inline-block; *//* vertical-align: middle; */position: absolute;top: 5px;right: 5px;}
    .middleHeader{position: relative;}
    .middleHeader .menuIcon{top:0; bottom: 0; margin: auto;display: inline-block;}
    .topheaderLeft{display: none;}
/*    .topadds{position:fixed; left: 0; right: 0 ;bottom: 10px; margin: auto;z-index: 999;}*/
.topadds{position: fixed;left: 0;right: 0;bottom: 0;margin: auto;z-index: 999;background: #fff;padding: 0;padding: 10px;height: 70px;width: 100%;text-align: center;}
    .closeTopAds.topsMobileAdds{display: block;}
    .topadds .closeTopAds.topsMobileAdds{display: block;}
    .topnavUl li ~ li{margin-left: 0;}
    .topFilter .col_Div{width:calc(50% - 5px);}
    .topFilter .col_Div:nth-child(1),.topFilter .col_Div:nth-child(2),.topFilter .col_Div:nth-child(3),.topFilter .col_Div:nth-child(4),.topFilter .col_Div:nth-child(5){max-width: inherit;}
    .topFilter .col_Div ~ .col_Div{margin-left: 0;}
    .bottomHeader .container{padding-left: 15px;padding-right: 15px;}
    .homeSearchBox .inputFils{border-radius: 30px;}
    .homecstSelect.homecstCategories.customSelect:before{display: none;}
    .customSelect.homecstSelect.homecstCategories .spanOut{border-radius: 30px;}
    .postAnAdBtnDiv{display: none;}
    .headrPostDiv{display: inline-block;float: right;margin-top: 12px;}
    .homebannerText{font-size: 20px;line-height: 24px;}
    .topFilter .col_Div{margin-bottom: 10px;}
    .topFilter .col_Div:nth-of-type(odd){margin-right: 5px;}
    .topFilter .col_Div:nth-of-type(even){margin-left: 5px;}
    .topFilter .col_Div:nth-last-child(2){margin: 0px;width: 100%;text-align: center;}
    .searchBtn{    min-width: 150px;display: inline-block;float: none;}
    .sectionBanner{margin-left: -15px; margin-right: -15px;width: auto;}
    .bottomHeader{float: left;margin-left: -15px; margin-right: -15px;width: auto;}
    .newHeader .mobileNav{top:119px;border-top:1px solid #ddd;z-index: 9999;}
    .mobileNav ul li a .innerCartNav > p{margin-bottom: 3px;}
    .mobileNav ul li a i{display: none;}
    .mobileNav ul li a .innerCartNav i{display:block;float: left;font-size: 14px;margin-right: 4px;margin-top: 1px;}
    .mobileNav ul li .arrow {position: absolute;right: 0px;top: 0px;width: 50px; height:48px; text-align: center;z-index: 12;}
    .mobileNav ul li .arrow:before {content: "";width: 10px;height: 10px;border-bottom: 2px solid #333;border-right: 2px solid #333;-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);display: inline-block;margin-top: 18px;vertical-align: middle;}
    .mobileNav ul li .arrow.minus:before {-moz-transform: rotate(-136deg);-ms-transform: rotate(-136deg);-webkit-transform: rotate(-136deg);transform: rotate(-136deg);margin-top: 22px;}
    .mobileNav ul li ul{position: static;visibility: visible;opacity: 1;transform: none;display: none;float: left;width: 100%;transition: none;}
    .mobileNav > ul > li > ul > li{background: #d9dee0;border-bottom:1px solid #a5a4a4;padding: 0;}
    .mobileNav ul li ul{box-shadow: none;}
    .mobileNav > ul > li > ul > li > a{padding:10px 12px 10px 33px;}
    .topRegisterUl li ~ li{margin-left: 0;}
    .topAddToCart{background: transparent;}
    .topAddToCart:after{display: none;}
    .topheaderRight{width: 100%;}
    .topRegisterUl{width: 100%;text-align: center;}
    .topRegisterUl li{width: calc(33.33% - 4px);}
    .topRegisterUl li ~ li {border-left: 1px solid #ddd;}
    .topRegisterUl li ~ li > a:before{display: none;}
    .combinedAdds{margin-top: 10px;}
    .homeSecTitle{font-size: 20px;}
    .homeSecTitle:after{display: none;}
    .findMachineSection{padding: 30px 0;}
    .featurePartSlider, .findServiceSlider, .findMachineSlider{margin-top: 10px;}
    .findServiceSliderWrap{position: initial;}
    .slideSArrow{    top: 0px;    margin-bottom: 18px;}
    .ourBenefitDiv{text-align: center;padding: 20px;}
    .ourBenefitTop .homeSecTitle{font-size: 20px; padding-bottom: 10px;width: 100%;}
    .ourBenefitsBox{width: 100%;}
    .ourBenefitsBox ~ .ourBenefitsBox{margin-left: 0;margin-top: 20px;}
    .ourBenefitsBox .ourBenefitsImg:after, .ourBenefitsBox .ourBenefitsImg:before{display: none;}
    .tradingAccountConent{padding: 20px;}
    .tradAccUl li{width: 100%;}
    .tradAccUl li ~ li{margin-left: 0;margin-top: 5px;}
    .homeTestimonialSlider{padding: 0 0px;}
    .testiAutoImg{float: none; margin: auto;}
    .testiAutherContent{width: 100%;text-align: center;}
    .homeTestimonialSlider:before{left:0px;top: -45px;}
    .latestBlogImg{margin: auto; float: none;}
    .latestBlogContent{width: 100%;}
    .latestBlogContentInner{padding: 12px 0;}
    .middleadds{display: none;}
    .topsMobileAdds.middleadds{display: block;float: left;height: 50px;width: 100%;text-align: center;}
    .contentSideAddsDiv{display: none;}
    .contentSideAddsDiv.topsMobileAdds{margin-bottom: 10px;text-align: center;width: 100%;display: block;}
    .rightBannerAdds {text-align: right;margin-top: 30px;padding-left: 0;padding-right: 0;}
    .leftBannerAdds, .rightBannerAdds{text-align: center;}
    .topnavUl li.topsubnavLi.subNav i.fa{display: none;}
}


/* common css for below screen 479 */
@media only screen and (max-width: 479px) {}


/* common css for below screen 350 */
@media only screen and (max-width: 350px) {
    .topFilter .col_Div{width: 100%;}
    .topFilter .col_Div:nth-child(3){max-width: inherit;}
    .topFilter .col_Div:nth-of-type(odd){margin-right: 0;}
    .topFilter .col_Div:nth-of-type(even){margin-left: 0;}
}


/* common css for screen size between 480 to 767 */
@media only screen and (min-width: 480px) and (max-width: 767px) {}


/* common css for screen size between 568 to 767 */
@media only screen and (min-width: 568px) and (max-width: 767px) {
    .ourBenefitsBox ~ .ourBenefitsBox{    margin-left: 13px;margin-top: 0px;}
    .ourBenefitsBox{    width: calc(33.33% - 12px);}
    .tradAccUl li{width:auto;}
    .tradAccUl li ~ li{margin-left: 16px;margin-top: 0px;}
    .ourBentIcon .svgImg{width: 67px;height: 48px;}
}


/* common css for screen size between 600 to 767 */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    
}




/* common css for screen size between 768 to 1199 */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .topnavUl li:nth-child(2) {margin-left: 2px;}
}


/* common css for screen size between 768 to 1023 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .middleHeader .logo{left: 8px;}
    .topFilter .col_Div ~ .col_Div{margin-left: 9px;}
    .topFilter .col_Div.homecstCategories{margin-left: 0;}
    .topFilter .col_Div:nth-child(1) {max-width: 120px;}
    .topFilter .customSelect select{padding: 0 10px;}
    .homeSearchBox .customSelect.homecstCategories{max-width: 150px;}
    .topFilter .col_Div:nth-child(2){    max-width: 173px;}
    .topFilter .col_Div:nth-child(3){max-width: 127px;}
    .topFilter .col_Div:nth-child(4){max-width: 115px;}
    .topFilter .btn.searchBtn{font-size: 0;min-width: 39px;padding: 5px 7px 2px;}
    .topFilter .col_Div:nth-child(5){    max-width: 122px;}
    .postAnAdBtn{    min-width: 122px;}
    .sectionBanner{margin-left: -15px;margin-right: -15px;width: auto;float: none;}
    .footerSubNewsletter{margin-top: 15px;}
    
}


/* common css for screen size between 1024 to 1199 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .topFilter .col_Div ~ .col_Div {margin-left: 9px;}
    .topFilter .col_Div.homecstCategories{margin-left: 0px;}
    .topFilter .col_Div:nth-child(1){max-width: 150px;}
    .topFilter .col_Div:nth-child(2){max-width: 265px;}
    .homeSearchBox .customSelect.homecstCategories{max-width: 150px;}
    .topFilter .col_Div:nth-child(3){max-width: 150px;}
    .topFilter .col_Div:nth-child(4){max-width: 107px;}
    .topFilter .col_Div:nth-child(5){max-width: 125px;}
    .ourBenefitDiv{padding: 36px 20px;}
    .ourBentIcon .svgImg{    width: 57px;height: 38px;}
    .ourBenefitsTitle{font-size: 14px;line-height: 16px;}
    .ourBenefitTop .homeSecTitle{width: calc(100% - 174px);font-size: 19px;line-height: 21px;}
    .ourBenefitLogo{width: 170px;}
    .tradingAccountConent{padding: 10px 12px 7px}
    .tradingTitle{font-size: 20px;line-height: 23px;padding-bottom: 7px;}
    .tradAccOpen{font-size: 15px;line-height: 20px;margin: 10px 0 7px;}
    .tradAccUl li{font-size: 14px;line-height: 16px;}
    .tradAccUl li:before{    width: 20px;height: 12px;}
    .latestBlogImg{    width: 180px;}
    .latestBlogContent{    width: calc(100% - 180px);}
    .latestBlogContentInner{padding: 0px 0px 0px 15px;}
    .latestBlogTitle{margin-bottom: 15px;    font-size: 16px;line-height: 20px;}
    .latestBlogText{font-size: 14px;line-height: 18px;margin-bottom: 0;}
}

@media only screen and (device-width : 812px) and (device-height : 375px) and (-webkit-device-pixel-ratio : 3) { 
    .topFilter .col_Div:nth-child(2){    max-width: 345px;}
    .topFilter .col_Div:nth-child(2) {max-width: 223px;}
    .topnavUl li.topsubnavLi.subNav i.fa{display:inline-block;}
    .topnavUl li:nth-child(2) {margin-left: 2px;}
}