/*Machine Listing Css Start*/
.machineList{    margin-bottom: 30px;}
.machineBox{display: block;margin: 0 0 30px 0;float: left;width: 100%;border-width:3px 1px 1px 1px; border-color: #ebebeb; border-top-color: #fec500;border-style: solid;overflow: hidden;}
.machineBox:last-child{margin-bottom: 0;}
.machBoxDetail{float: left;width: 100%;}
.machBoxRight{text-align: center;width: 315px;float: left;}
.machineSldder{margin: 15px;}
.machineSldder .slick-slide img{/*width: 100%;*/ margin:auto;}
.machineSldder .slick-arrow.slick-disabled{opacity: 0.5}
.machineSldder .slick-arrow {position: absolute;font-size: 0;top: 0px;bottom:0; left:0px;margin: auto; width: 24px;height: 40px;background-color: rgba(0,0,0,.38);transition: .3s all;-webkit-transition: .3s all;z-index: 2;border-radius:0;}
.machineSldder .slick-arrow.slick-next { right:0px; left: inherit;}
.machineSldder .slick-arrow:before {content: "";width: 12px;height: 12px;border-bottom: 1px solid #fff;border-left: 1px solid #fff;position: absolute;top: 0;right: 0;bottom: 0;margin: auto;left: 4px;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);}
.machineSldder .slick-arrow.slick-next:before {border-left: none; border-right: 1px solid #fff;transform: rotate(-45deg); right: 6px;left: 0;}
.machBoxLeft{width: calc(100% - 315px);float: left;}
.machTitle{padding: 7px 15px;background:#f3f3f3;line-height: 20px}
.machTitle a{font:16px/24px 'Lato', sans-serif; font-weight: 700;}
.machInnBoxLeft{width: 63%;float: left;padding: 15px 10px 10px 15px;height: 100%;border-right: 1px solid #ebebeb;}
.machInnBoxRight{width:calc(100% - 63%);float: left;height: 100%;}
.machListDetailUl{margin-bottom: 15px;}
.machListDetailUl li{font-size: 13px;line-height: 18px;color: #000;list-style: none;padding: 4px 0;}
.machListDetailUl .md_title{font-weight: 700;}
.machListDetailUl .md_detail{font-weight: 400;}
.machInnBoxLeft .mach_detail{font:12px/18px 'Montserrat', sans-serif; color:#000;margin-bottom: 10px;}
.locationMach{text-align: right;line-height:none;}
.locationMach .mp_loc{font-family: 'Lato', sans-serif;font-size: 14px;line-height: 20px;position: relative;padding-left: 20px;}
.locationMach .mp_loc:before{content: "";background: url(../images/sprite.png) no-repeat -7px -242px; width: 13px;height: 16px;position: absolute;left:0px;top: 0;margin: auto;}
.machPrPrice{font-family: 'Lato', sans-serif;font-size: 22px;line-height: 30px;color: #ed1b2f;font-weight: 900;padding: 15px 0px 15px 20px;margin-right: 20px;border-bottom: 1px solid #e1e1e1;}
.machBtnUl{display:block;text-align: center;padding-top: 0px; margin: 10px;}
.machBtnUl li{list-style: none;text-align: center}
.machBtnUl li ~ li{margin-top: 10px;}
.machBtn{display: inline-block;width: 125px;max-width: 100%;text-align: center;border: 1px solid #44c8f5;height: 36px;line-height: 34px;border-radius: 2px;color: #fff;background: #44c8f5;font-size: 14px;font-weight: 700;}
.viewMcBtn{color:#333;background: transparent;border-color:#e1e1e1;}
.pageBox {display: inline-block;vertical-align: middle;float: right;}
.pageBox a:first-child {margin-left: 0;}
.pageBox a {float: left;width: 30px;height: 28px;background-color: #fff;text-align: center;color: #0e0e0e !important;line-height: 28px;position: relative;margin-left: 5px;border:none;}
.pageBox a.prev{width: 71px;position: relative;text-align: right;background:transparent; padding: 0 9px;height: 28px;line-height: 28px;}
.pageBox a.next{width: 71px;position: relative;text-align: left;background: #00bbfb;color:#fff !important; padding: 0 9px;height: 28px;line-height: 28px;}
.previous:after {background-position: -323px 0;}
.pageBox a.prev:after{position: absolute;left: 0;right: 47px;top: 2px;bottom: 0;margin: auto;content: '\f177';font-family:FontAwesome;font-size:18px;color:#000;}
.pageBox a.next:after {position: absolute;left: 47px;right: 0;top: 2px;bottom: 0;margin: auto;content: '\f178';font-family:FontAwesome;font-size:18px;color:#fff;}
.pageBox a.active, .pageBox a.active:hover {border-color: transparent;background-color:#00bbfb;cursor: default;color:#fff !important;}
.pageBox a.disabled.prev, .pageBox a.disabled.next {cursor: default;}
.pageNav{margin-top:20px;text-align:center; margin-bottom:20px; width:100%;float: left;}
.loader {position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;z-index: 1; background-color:transparent; opacity:1}
.loader:before{content:""; position:absolute; left:0; top:0; right:0; bottom:0; background: rgba(255,255,255,0.7) ; z-index:-1;}
.loader span{width:50px; height:50px; background:url(../images/loading-icon.gif) center center no-repeat; position:absolute; left:0; top:0; bottom:0; right:0; margin:auto; font-size:0;}

/*Machine Listing Css End*/


/*Machine Detail Css Start*/
.mBoxTop{display: block;padding: 15px;border: 1px solid #dedede;position: relative;float: left;width: 100%;}
.mdetailPage .breadcrumbs{width: 80%;}
.Backbtn{float: right;width: 20%;padding: 18px 0;text-align: right;}
.Backbtn a{font-family: 'Lato',sans-serif; font-size: 14px; font-weight: 700;position: relative;padding-left: 15px;}
.Backbtn a:before{content: '\f0a8';position: absolute;left: 0;right: 33px;top: -3px;bottom: 0;margin: auto;font-family: FontAwesome;font-size: 14px;}
.machBoxInfoLeft{float: left;width: auto;text-align: left;}
.machBoxInfoLeft .mechTitle {display: block;font-weight: 700;font-size: 18px;text-transform: uppercase;color: #111111;line-height: 24px;padding-bottom: 6px;}
.mdPrPrice{font-family: 'Lato', sans-serif;font-size: 22px;line-height: 32px;color: #ed1b2f;font-weight: 900;padding-bottom: 0px;}
.machBoxInfoRight {float: right;width: auto;text-align: left;}
.machBoxInfoRight .mechTitle {display: block;font-weight: 700;font-size: 14px;color: #111111;line-height: 20px;padding-bottom:10px;}
.machContBox {display: block;clear: both;width: 100%;float: right;background: #f6f6f6;padding: 15px 15px 10px 15px;border-bottom: 1px solid #dedede;border-right: 1px solid #dedede;border-left: 1px solid #dedede;margin-bottom: 30px;}
.machContBox .contactInfo {float: none; display:table;}
.machContBox .contactInfo .location {display: table-cell;padding-left: 20px;position: relative;font-weight: 700;font-size: 14px;line-height: 18px;color: #333333; vertical-align: middle;}
.machContBox .contactInfo .location:before {content: "";background: url(../images/sprite.png) no-repeat -2px -109px;width: 14px;height: 18px;position: absolute;left: 0;top: 0;bottom: 0;margin: auto;z-index: 12;}
.phshareBox {float: right;}
.contactInfo .phone {display: inline-block;padding-left: 30px;position: relative;font-weight: 700;font-size: 14px;line-height: 24px;color: #333333;position: relative;margin-left: 20px;}
.contactInfo .phone:before {content: "";background: url(../images/sprite.png) no-repeat -342px -108px;width: 25px;height: 25px;position: absolute;left: 0;top: 0;bottom: 0;z-index: 12;}
.machContBox .contactInfo .share {display: inline-block;padding-left: 30px;font-weight: 700;font-size: 14px;line-height: 24px;color: #333333;position: relative;margin-left: 10px;margin-right: 10px;}
.machContBox .contactInfo .share:before {content: "";background: url(../images/sprite.png) no-repeat -371px -106px;width: 26px;height: 26px;position: absolute;left: 0;top: 0;bottom: 0;z-index: 12;}
.machBtn.greenBtn {background: #76c045;border-color: #76c045;color: #fff;    text-transform: uppercase;width: 136px;}

.machBoxDetail{display: block;float: left;width: 100%;padding-top: 10px;position: relative;}
.machBoxDetail .machBtn.greenBtn{position: absolute;right: 0;top: 0;}
.machBoxDetail .tab_content p:last-of-type{padding-bottom: 0;}
.machBoxDetail hr {display: inline-block;width: 100%;border-bottom: 1px solid #dedede;margin: 5px 0;clear: both;}
.machBoxDetail .tabTitle {font-family: 'Lato', sans-serif;font-size: 16px;line-height: 24px;font-weight: 700;padding-bottom: 10px;}
.machGraph{text-align: center;}
.machBoxDetail .innerTab #tab1{padding-bottom: 15px;}
/*Machine Detail Css End*/


/* Machine Detail Page Css Start On 10/05/2018 */

.time:before { content: ""; background: url(../images/sprite.png) no-repeat -22px -109px; width: 17px; height: 18px; position: absolute; left: -20px; top: 0; bottom: 0;  z-index: 12;}
.time { display: inline-block; position: relative;font-weight: 700; font-size: 14px; line-height: 18px;color: #333; margin-left: 20px;}
.mBoxMain .machContBox .contactInfo { width: 100%;}
.mBoxMain .machContBox { padding: 17px 20px 14px; border-color: #ebebeb;}
.mBoxMain .mBoxTop { border-bottom:0px;padding: 15px 20px 8px;border-color: #ebebeb;}
.mBoxMain .machContBox .contactInfo .share { margin-right:0px; }
.sellerBoxMain { float: right; width: calc(100% - 817px); border: 1px solid #ebebeb; /*background: #def6ff;*/ padding:10px; margin-right: 15px;}
.sellLogo {float: left; width: 130px; min-height: 127px; text-align: center; background: #fff; position:relative; border-right:1px solid #ebebeb;}
.sellLogo img { position: absolute; left: 0; right: 0; margin: auto; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); 	-ms-transform: translateY(-50%); transform: translateY(-50%);}
.sellInfoRight { display: inline-block; width: calc(100% - 147px); float: right;}
.sellerBox .dircTitle, .sellerName { font-size: 18px; line-height: 26px; font-weight: 700;}
.sellerName { /*color:#00bbfb;*/ font-size:16px; color:#4b5a64;}
/*.sellerBox .mp_loc { height: 24px;width: 24px;position: absolute;vertical-align: middle;line-height: 24px; border-radius: 50%;border: 1px solid #88c744;margin-right: 0;left: 0; top: 0px;}*/
.addLine {font-size: 14px;line-height: 20px; display: inline-block;/* padding-left: 35px;*/  padding-left: 25px; position: relative; vertical-align:top; /*padding-bottom: 7px;*/}
.addLine span { display: inline-block;}
.sellerBox .mp_loc:before {content: "";background: url(../images/sprite.png) no-repeat -7px -242px;width: 13px;height: 16px;position: absolute;left:0px;top: 50%;margin: auto;transform: translateY(-50%);right: auto;}
.otherDetails { list-style: none;}
.otherDetails li { display: inline-block;}
.otherDetails li a { text-decoration: underline; font-size: 14px; border-right: 1px solid #000; padding: 0 10px; font-weight: 700; line-height: 20px;}
.otherDetails li:first-child a { padding-left: 0;}
.otherDetails li:last-child a { border-right: 0px;}
.mBoxMain .mdPrPrice br { display:none;}
.mBoxMain .span_title { padding-left: 15px; }
.mBoxMain .price_small_text { display: inline-block;line-height: 30px;}
.detailBox .dircBoxDetail .dircBoxRightMachine ul li { width: 50%; float: left; list-style: none; padding: 15px 0; border-top: 1px solid #dedede;}
.otherDetails li a:hover { color:#00bbfb;}
.machineBtm .detailBox .dircBoxDetail .dircBoxRightMachine ul li:nth-child(-n + 2) { border-top: 0px; }
.machineBtm .detailBox .dircBoxDetail .dircBoxInnerRight {padding: 0px 20px;}
.machineBtm .detailBox .dircBoxDetail .dircBoxRightMachine ul li { padding: 14px 12px 15px;}
.machineBtm .dirc_spanul { width:100%; float:left;} 
.machineBtm .details_btn { width:100%; float:left; border: 1px solid #e1e1e1; background: #f8fdff; padding:18px 8px 20px; margin:23px 0 20px;}
.machineBtm .inputBox { padding: 10px 0; }
.machineBtm .tabTitle { font-size:20px; line-height:20px; padding:0 7px 2px; text-align: left; }
.machineBtm .captchaBox { border: 0px; padding:0; margin-top: 7px; } 
.machineBtm .stepsBtn.inputBox { padding:0;    margin: 0;}
.dircBoxRightMachine .inputTextarea { height: 74px;}
.machineBtm .star:after { content: "*"; color: #ff0000; padding-left: 2px; position: absolute; top: 8px; right: 8px;}

.machineBtm .inputBox .inputFils::-webkit-input-placeholder { color:#111111; }
.machineBtm .inputBox .inputFils:-moz-placeholder { color:#111111; opacity:1;}
.machineBtm .inputBox .inputFils::-moz-placeholder { color:#111111; opacity:1;}
.machineBtm .inputBox .inputFils:-ms-input-placeholder { color:#111111;}
.machineBtm label.error { position: absolute; right: 0; top: -10px; width: auto; height: auto; margin: 0; font-size: 11px!important; line-height: 11px!important; background: #fb0101; padding: 5px 5px 4px!important; color: #fff!important; display: none; left:auto; bottom: auto;}
label.error:after { border-color: #fb0101 transparent transparent; border-image: none; border-right: 6px solid transparent; border-style: solid; border-width: 6px; content: " "; height: 0; left: 20px; margin-left: -10px; position: absolute; top: 100%; width: 0;}
.machineBtm .captchaBox label.error {left: 0; right: auto; top: -7px;}
.inputGap { padding:0 7px;}
.machineBtm .captchaText { font-size: 14px; line-height: 18px; color: #111;}
.machineBtm .skyBlueBtn {font-family: 'Montserrat', sans-serif;font-size: 18px;line-height: 35px;box-shadow: inset 0px -3px 0px rgba(24, 169, 215,1);width: 132px;text-shadow: 1px 1px 0px rgba(24, 169, 215, 1);text-align: left;border:0px;padding: 2px 10px;}
.machineBtm .btn i {display: inline-block;vertical-align: middle;color: rgba(0,0,0,0.2);text-shadow: none;font-size: 20px;float: right;line-height:35px;margin-top: 0;}
.machineBtm .dirc_spanul span {font-family: 'Montserrat', sans-serif;}
.machineBtm .detailBox .dircBoxDetail .dircBoxInnerRight { width: calc(50% - 10px); }
.machineBtm .detailBox .dircBoxDetail .dircBoxInnerLeft { width: calc(50% - 20px); margin-right: 20px; background: transparent; padding: 0;}
.machineBtm .detailBox .dircBoxDetail { padding:20px; position: relative;}

.machineProNav { margin-top: 7px; }

.machineProBox {position: relative;}
.machineProNav .slick-list {margin: 0 -4px;}
.machineProNav .slick-slide {border: 3px solid #fff;margin:7px 4px;box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.24);/* padding: 3px; */overflow: hidden;height: 100%;cursor: pointer}
.machineProNav .slick-arrow {position: absolute;left: 3px;top: 0;background: rgba(0,0,0,0.4);width: 24px;bottom: 0;margin: auto;font-size: 0;z-index: 1;transition: .5s all;-webkit-transition: .5s all;-moz-transition: .5s all;-ms-transition: .5s all; height: 40px;}
.machineProNav .slick-prev.slick-arrow::before {position: absolute;content: "";width: 18px;height: 18px;border-left: 1px solid #fff;border-bottom: 1px solid #fff;top: 0;left: 10px;bottom: 0;margin: auto;transform: rotate(45deg);}
.machineProNav .slick-next.slick-arrow::before {position: absolute;content: "";width: 18px;height: 18px;border-right: 1px solid #fff;border-top: 1px solid #fff;top: 0;bottom: 0;right: 10px;margin: auto;-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.slick-arrow {cursor: pointer;}
.machineProNav .slick-next.slick-arrow { right: 3px; left: inherit;}
.machineProSlider .slick-slide { border: 10px solid #fff; }
.machineBtm ul.tabs li  {font-size: 18px; text-transform: uppercase; font-family: 'Montserrat',sans-serif; height: 41px; line-height: 41px; border-bottom: 0px;}
.machineBtm ul.tabs {height: 41px; margin-bottom:0px;}
.machineBtm .tab_container { border: 1px solid #e0e0e0; }
.machineBtm .machBoxDetail { padding:30px 0 0;}
.machineBtm .tab_container .innerTab { padding:25px 22px; border-right:0px; width: 100%;}
.machineBtm .tab_content { padding: 0; }
/*.machineDetList .machInnBoxRight { width: calc(100% - 73%); float: right; }*/
.machineDetList .machineListBox .machInnBoxLeft { max-width:600px;}
.machineDetList .machineListBox .machInnBoxRight {   width: calc(100% - 600px);}
.machineListBox .machPrPrice { font-size:20px; border-bottom: 0px; margin-right: 0;}
.sellInfoRight.noSellerImg { width: 100%; padding: 10px 10px;}
.noSellerImg .addLine { padding-top:4px;}
.machineBtm .detailBox .dircBoxDetail .dircBoxRightMachine ul li.bdrClass { position: relative; }
.machineBtm .detailBox .dircBoxDetail .dircBoxRightMachine ul li.bdrClass:before {  content: ''; position: absolute; right: -100%;background: #dedede; width: 100%; height: 1px; left: auto; top: -1px;} 
.saveMachine { padding: 0;border-radius: 4px;  display:block; font-size: 14px; font-weight: 700; line-height: 22px;}
.saveMachine i {color: #41c8f3; margin-right: 5px;}
.saveMachine i.fa-star{opacity: 1;}
.saveMachine i.disableStar{color: #000;opacity: 0.3;}
.machineProSliderTrans { position:relative;}
.sellerBox .location { margin: 5px 0 0;}
.sellerBox {  width: 100%; float: left; }

/* Machine Detail Page Css End */


/* Machine List Page Css Start on 14-05-2018 */

.machineListBox .machBoxDetail { padding-top: 0px; }
.machineListBox .machTitle { padding: 15px; }
.machineListBox .machTitle .pull-right a.machBtn {  font: 14px/30px 'Lato', sans-serif; height:34px; background: #00b0ec; border-color: #00b0ec; padding-left: 30px; width:132px; position: relative;}
.machineListBox .machTitle .pull-right a.machBtn:before { background:url(../images/enq-icon.svg) no-repeat; content:''; position:absolute; width:21px; height:20px; left: 10px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.machListTitle { padding-top: 5px; float: left;}
.machineListBox .machBtnUl { position: relative; border-top: 1px solid #e1e1e1; margin: 10px 20px 10px 0px;}
.machineListBox .machInnBoxLeft { border-right:0px; padding:0px 10px 0px 15px; width:100%; max-width: 349px; position:relative;}
.machineListBox .machInnBoxLeft:after { position: absolute; width: 1px; height: 1000%; background: #e1e1e1; content: ''; right: 0; top: 0;}
.machineListBox .machInnBoxRight { width: calc(100% - 349px); float: right; height: 100%;}
.machineListBox .machListDetailUl { margin-top: 15px;}
.machineListBox .machInnBoxRight { border-left:0px;}
.machineListBox .viewMcBtn { border: 0px; height: auto; line-height: 20px; text-align: left; color: #111; position:relative;}
.machineListBox .viewMcBtn:after { background:url(../images/right-arrow.svg) no-repeat; height:10px; width:15px; display: inline-block; vertical-align: middle;
 margin-left: 10px; content:''; }
.price_small_text { font-size: 14px; display: block; line-height: 20px;}
.otherTitle { font-size: 14px; line-height: 18px; font-weight: 700; padding-bottom: 10px; margin-top:30px;}
/*.machineListBox .mslides { height: 213px;}*/
/*.machineListBox .machBoxRight {    max-height: 244px;}*/

.machineSldder.machineSliderList .slick-arrow.slick-next { left:auto;}
.machineSldderTrans { position:relative; margin-bottom: 34px;}

.saveCleBtn { display: inline-block; position:relative; font-size: 14px; font-weight: 600;padding: 0 5px;}
.saveSearchh { padding: 0px 15px 8px;}
.saveCleBtn.saveSea:before { background:url(../images/search-in-folder.png) no-repeat; width:16px; height:16px;top: 4px;}
.saveCleBtn:before { content: ''; position: absolute; left: 0;}
.clearSea i { padding-right: 2px; }
.saveSea.saveCleBtn { padding-left: 22px;}
.machineListSelect { padding-bottom: 20px;}
.customSelect.machineListSelect select { min-width: 300px; }
.minMaxSelect .spanOut { border: 1px solid #dee1e3; border-radius: 2px; color: #000; left: 0; padding: 0 10px; position: absolute; text-align: left; top: 0; width: 100%; line-height:32px; height:35px; max-width: 105px; font-size: 16px; font-family: 'lato',sans-serif;}
.minMaxSelect select { height: 35px; line-height: 35px; opacity: 0; padding: 0 10px; width: 100%; z-index: 1; max-width: 105px; }
.minMaxSelect .sortDown { position:relative;display: inline-block; vertical-align: middle; width: 100%;  max-width: 110px;}
.mTitle { display:inline-block; vertical-align:middle; max-width: 45px; width:100%;text-align: right; margin-right: 6px}
.minMaxPrice { padding-top: 10px; padding-bottom: 16px;}
.minMaxSelect { padding-top: 10px;}
.minMaxSelect .sortDown span::after { width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 6px solid #333333; content: ''; position: absolute; right: 10px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.goBtnMain { display: inline-block; vertical-align: middle; max-width: 51px; text-align: center; width: 100%; height: 36px; line-height: 36px;}
.goBtn { display: block; background: #44c8f5; border-radius: 2px; color: #fff; font-size: 14px; font-family: 'lato',sans-serif; font-weight: 700;}
.minMaxSelect.MaxSelectLeft { width: 75%; display: inline-block; }
.machineListBox .locationMach { text-align:left;}
.machineListBox .locationMach .mp_loc { display:block;    padding-bottom: 5px;}

/* Machine List Page Css Start on 14-05-2018 */


/*---------Medai Query-----------*/
/* css only for hover effect all hover effect must write in this Media query */
@media only screen and (min-width: 1200px) {
    
/*Machine Listing Css Start*/
.machineBox:hover{-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.094);box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.094);}
.machBtn:hover{background: transparent;color:#44c8f5;}
.viewMcBtn:hover{background: #44c8f5;color:#fff;border-color: #44c8f5;}
.machTitle a:hover{color:#44c8f5;}
/*Machine Listing Css End*/

.machBtn.greenBtn:hover{background:transparent;color: #76c045;}
.machineBtm .skyBlueBtn:hover { background: #fec500; color: #fff; box-shadow: inset 0px -3px 0px rgba(0, 0,0,0.1); text-shadow: 1px 1px 0px rgb(203, 158, 0);}
.machineListBox .machTitle .pull-right a.machBtn:hover { background:#44c8f5; border-color:#44c8f5; color:#fff;}
.machineListBox .viewMcBtn:hover { background: none; color:#44c8f5;}
.machineListBox .viewMcBtn:hover:after {background:url(../images/right-arrow-color.svg) no-repeat;}
.saveCleBtn:hover, .saveMachine:hover { color:#44c8f5;}
.saveCleBtn.saveSea:hover:before {background:url(../images/search-in-folder-color.png) no-repeat;}
.goBtn:hover {background: #fec500;}
/*.saveMachine:hover { background: #e5e5e5; }*/
}


/* Custome responsive css start from here */

/* common css for below screen 1199 */
@media only screen and (max-width: 1199px) {

}

/* common css for below screen 991 */
@media only screen and (max-width: 991px) {
    
/*Machine Listing Css Start*/
.machBoxRight {width: 100%;height: auto !important;}
.machineSldder {margin: 10px;width: 250px;display: inline-block;}
.machBoxLeft{width: 100%;}
/*Machine Listing Css End*/

.sellerBoxMain { background: none; padding:0 15px; border:0px; float:left; width:100%;} 
.sellerBox { width: 100%; float: left; /*background: #def6ff;*/ border: 1px solid #ebebeb;}
.sellInfoRight { padding: 10px 0;}
}

/* common css for below screen 767 */
@media only screen and (max-width: 767px) {
    
/*Machine Listing Css Start*/
.machineList{margin-bottom:0px;}
.machineList{padding: 15px 0;}
.machBoxRight{margin-bottom: -6px;}
.machineSldder{margin: 0;width: 300px;margin: auto;}
.machBoxDetail .tab_container{border:1px solid #dedede;}

/*Machine Listing Css End*/


/* Machine Detail Page Responsive Css Start */


.machineBtm .detailBox .dircBoxDetail .dircBoxInnerLeft { width:100%; float:left;margin: 0;}
.machineBtm .detailBox .dircBoxDetail .dircBoxInnerRight {width:100%; float:left; padding: 0;margin: 0; border-right: 0px;}
.machineBtm .detailBox .dircBoxDetail { padding:0; margin-top: 15px;}
.machineProSlider { overflow:hidden;}
.machineProNav { display:none;}
.machineProSlider .slick-slide { border:0px;}
.machineBtm .stepsBtn.inputBox { padding: 15px 0 0;text-align: left;}
.machineBtm .mBoxMain .machContBox { margin-bottom: 15px;}
.machineBtm .tab_container .innerTab { padding:0;}
.region-header { border-bottom: 1px solid #dedede;}


.machineProSlider .slick-arrow {position: absolute;left: 0px;top: 0;background: rgba(0,0,0,0.4);width: 24px;bottom: 0;margin: auto;font-size: 0;z-index: 1;transition: .5s all;-webkit-transition: .5s all;-moz-transition: .5s all;-ms-transition: .5s all; height: 40px;}
.machineProSlider .slick-prev.slick-arrow::before {position: absolute;content: "";width: 18px;height: 18px;border-left: 1px solid #fff;border-bottom: 1px solid #fff;top: 0;left: 10px;bottom: 0;margin: auto;transform: rotate(45deg);}
.machineProSlider .slick-next.slick-arrow::before {position: absolute;content: "";width: 18px;height: 18px;border-right: 1px solid #fff;border-top: 1px solid #fff;top: 0;bottom: 0;right: 10px;margin: auto;-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.slick-arrow {cursor: pointer;}
.machineProSlider .slick-next.slick-arrow { right: 0px; left:auto;}
.machineListBox .machPrPrice { font-size: 16px; line-height: 20px;}
.machineListBox .machInnBoxLeft , .machineDetList .machineListBox .machInnBoxLeft{ max-width: 390px; padding:0px 10px 15px 15px;}
.machineListBox .machInnBoxRight, .machineDetList .machineListBox .machInnBoxRight { width: calc(100% - 390px); }
/*.innerMain.machineInnerMain { padding: 80px 0 30px;}*/
.innerMain.machineInnerMain { padding: 0px 0 30px;}
.customSelect.machineListSelect select { min-width:100%;}


}


@media only screen and (max-width: 480px) {
.machineListBox .machInnBoxLeft , .machineDetList .machineListBox .machInnBoxLeft{ max-width: 300px; padding:0px 10px 15px 15px;}
.machineListBox .machInnBoxRight, .machineDetList .machineListBox .machInnBoxRight { width: calc(100% - 300px); }
.machineBtm .machBoxInfoRight { float: left; width: auto; text-align: left;}
}
/* common css for below screen 479 */
@media only screen and (max-width: 479px) {
  
/*Machine Listing Css Start*/
.machineListBox .machInnBoxLeft {width: 100%;height: auto;border-bottom: 1px solid #ebebeb;}
.machineListBox .machInnBoxRight {width: 100%;height: auto;}
.machPrPrice{padding: 10px 0px 0px 15px;margin-right: 0;font-size: 18px;line-height: 22px;}
.machineListBox .machBtnUl{padding: 15px ; margin-right:0;}
.machBtnUl li{display: inline-block; width: 50%;margin:0 -2px;text-align: right;padding-right: 5px;}
.machBtnUl li ~ li{text-align: left;padding-left: 5px;}
/*Machine Listing Css End*/


.machineBtm .mBoxMain .machContBox { padding:15px;}
.machineListBox .machInnBoxLeft { padding: 0 15px 10px; }
.machineListBox .machListDetailUl { margin-top: 5px; margin-bottom: 5px;}
.machineListBox .machInnBoxLeft .mach_detail {    margin-bottom: 5px;}
.machineBtm .machContBox .contactInfo {float: left; display: block;}
.machineBtm .phshareBox { float:left; margin-top: 15px;}
.machineBtm .mBoxMain .machContBox .contactInfo .share { margin-left:0; margin-right: 10px;}
.machineBtm .machBoxInfoLeft .mechTitle {font-size: 15px; line-height: 24px;}
.machineBtm .mdPrPrice { font-size: 20px; line-height: 25px;}
.machineBtm .mBoxMain .machBoxInfoRight { padding-top:0px; float:left;}
.sellInfoRight { width: 100%; padding: 10px 15px;}
.sellLogo {  width: 100%;}
/*.addLine { padding-top: 7px;}*/
.machineBtm .detailBox .dircBoxDetail .dircBoxRightMachine ul li { width:100%; text-align:left; padding: 15px 0;}
.machineBtm .details_btn { margin: 30px 0 20px;}
.machineBtm .detailBox .dircBoxDetail .dircBoxRightMachine ul li:nth-child(-n + 2){ border-top: 1px solid #dedede;}
.machineBtm .detailBox .dircBoxDetail .dircBoxRightMachine ul li:first-child { border-top:0px;}
.mBoxMain .mBoxTop {padding: 15px 15px 8px;}
.machineDetList .machInnBoxRight { width:100%;}
.machineListBox .machInnBoxRight { border-left: 0;}
.pull-right.listEnqBtn { float: left !important; padding-top: 10px; width: 100%;}
.machineListBox .machTitle { padding: 10px 15px 15px;}
.machineDetList .machineListBox .machInnBoxRight { width:100%;}
.machineListBox .machPrPrice { padding: 10px 15px; }
.machineListBox .machInnBoxLeft , .machineDetList .machineListBox .machInnBoxLeft{ max-width: 100%; padding:0px 10px 15px 15px;}
.machineListBox .machInnBoxRight, .machineDetList .machineListBox .machInnBoxRight { width: 100%; }
.mBoxMain .shareListPop {left: 0; right:auto;}
.mBoxMain .shareListPop:before { left: 30px; right:auto;}
}


/* common css for below screen 479 */
@media only screen and (max-width: 350px) {     
    
/*Machine Listing Css Start*/
.machineSldder{width: 288px;} 
.machBtnUl li ~ li{padding-left: 5px;}
/*Machine Listing Css End*/

}

/* common css for screen size between 480 to 767 */
@media only screen and (min-width: 480px) and (max-width: 767px) {}


/* common css for screen size between 568 to 767 */
@media only screen and (min-width: 568px) and (max-width: 767px) {
    
/*Machine Listing Css Start*/
.machineSldder{margin: 0;/*width: 350px;*/ max-width:350px; margin:auto; width:100%;}
.machineSldderTrans { margin-top:15px; margin-bottom:15px;} 
/*Machine Listing Css End*/

}


/* common css for screen size between 600 to 767 */
@media only screen and (min-width: 600px) and (max-width: 767px) {}


/* common css for screen size between 768 to 1199 */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
.minMaxSelect.MaxSelectLeft { width: 100%; }
.goBtnMain { display: block; padding: 9px 0; margin-bottom: 10px; width: 100%; height: 26px; line-height: 26px; max-width:100%; }
.mTitle { margin-right: 4px;}	

.saveSea.saveCleBtn { padding-left: 20px;} 
.saveCleBtn { font-size: 11px; padding: 0 1px;}
}


/* common css for screen size between 768 to 1023 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.machineBtm .tab_container .innerTab { padding:0;}
	.machineBtm .detailBox .dircBoxDetail { margin-top:20px;}
	.machineBtm .detailBox .dircBoxDetail .dircBoxInnerRight, .machineBtm .detailBox .dircBoxDetail .dircBoxInnerLeft { width: 100%;} 
	.machineBtm .tabTitle { text-align:left;}
	.machineBtm .machContBox { margin-bottom: 20px;}
	.machineProNav { margin-top: 25px; }
	.machineProSlider .slick-slide img  { margin: auto;}
	

	.saveSea.saveCleBtn { padding-left: 19px;} 
}


/* common css for screen size between 1024 to 1199 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
/*Machine Listing Css Start*/
.machBoxRight{width: 250px;}
.machBoxLeft{width: calc(100% - 250px);}
.machInnBoxLeft{padding: 10px 10px 10px 0;}
.machListDetailUl{margin-bottom: 10px;}
/*Machine Listing Css End*/

.machineBtm .detailBox .dircBoxDetail .dircBoxRightMachine ul li { padding:14px 0 15px}
.sellerBoxMain {width: calc(100% - 662px);}
.sellLogo { width: 90px; min-height: 120px;}
.sellInfoRight { width: calc(100% - 100px);}
.otherDetails li a {padding: 0 4px;}
.sellerBoxMain { padding:11px 5px;}
.mBoxMain .machContBox {padding: 15px 15px 14px;}
.saveMachine {margin: 0 0 0 5px;}
.contactInfo .phone {margin-left: 5px;}

.saveSearchh { padding: 0px 0px 8px 15px;}
}
