/*.editForm  a:hover.saveBtnClass, .editForm  a:hover.backBtnClass{color:#fff;}*/
.editForm .saveBtnClass{background: #529a22;border-color:#529a22;}
.edit_frm.formBox{margin-bottom: 0;}
.redstar{color:#ff0000;}
/*.sortOrder{max-width: 90px;}*/
.chk_Box{clear: both;padding-bottom: 20px;float: left;padding-left: 3px;margin-top: 10px;}
.chk_Box label{float: left;position: relative;width: 100%;cursor: pointer;}
.chk_Box .checkbox{opacity: 0;    position: absolute;    width: 30px;height: 30px;z-index: 1;cursor: pointer;top: -5px;}
.chk_Box span{padding-left: 40px;}
.chk_Box span:before{content: "";width: 30px;height: 30px;border: 1px solid #d1d3d4;background: #fff;left: 0;border-radius: 3px;}
.chk_Box span:after, .chk_Box span:before{position: absolute;margin: auto;top: 0;bottom: 0;}
.chk_Box span:after{content: "";width: 9px;height: 16px;border-bottom: 3px solid #474747;border-right: 3px solid #474747;transform: rotate(40deg);left: 11px;top: -2px;opacity: 0;-webkit-transition: all .2s ease;-moz-transition: all .2s ease;-ms-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;}
.checkbox:checked~span:after{opacity: 1;}
.decripTextArea{min-height: 150px;}
.upload_Box{position: relative;}
.upload_Box{color: #000000;font: 16px/36px 'lato';font-weight: bold;display: inline-block;float: left;width: auto;padding-right: 35px;}
.upload_Box > *{display: inline-block;vertical-align: middle;position: relative;}
.uploadRight{padding-left:7px;}
.uploadRight input{width: 100%;height: 100%;cursor: pointer;z-index: 1;cursor: pointer;line-height: 0;opacity: 0;position: absolute;top: 0;left: 0;}
/*.uploadBox .uploadImage{cursor: pointer;}*/

.upload_Box label{padding: 4px 16px 4px 0;}
.browse-btn{background-color: #fec500;padding: 0px 13px;color: #fff;height: 42px;font-size: 17px;line-height: 43px;width: 112px;}
.upload_Box .text{ padding: 0 0 0 5px;line-height: 16px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 70%;}
/*#imgPreview{display: block;float: none;position: absolute;  top: 50%;    left: 50%;    margin-right: -50%;    transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%); -mox-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);z-index: 12;}*/
#imgPreview, #pdfPreview, .imgPreview1{display: block;float: none;position: absolute;  top:0; left:0; right: 0; bottom: 0;background: #d9dde9;}
.edit_frm .uploadBox{overflow:inherit;/*background: transparent;*/}
.edit_frm .uploadBox input{cursor: pointer;width: 100%;z-index: 1;}
#imgPreview a, .imgPreview1 a, #pdfPreview a + a{font-size: 0;position: absolute;display: block;float: right;background: red;width: 20px;height: 20px;border-radius:0;top:0;right:0;z-index: 99}
#imgPreview a:after, .imgPreview1 a:after, #pdfPreview a + a:after {
    content: "\f014";
    display: inline-block;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 20px;
    font-size: 16px;
    color: #fff;
}
#imgPreview img, .imgPreview1 img,#pdfPreview img{border: 2px solid #dedede;border-radius: 2px;float: none;min-width: 50px; max-width: 100%; position: absolute; top:0; right: 0; left: 0; bottom: 0; margin: auto;}
.bottom_edit{float: left;width: 100%;}
.edit_frm a.btn, .bottom_edit a.btn{margin-left: 2px;margin-right: 2px;}
/*.formBox .star{position: relative; right: 6px; display:block;z-index: 12;}*/
/*.formBox .star:after, .edit_frm .star:after{content: "*";color: #ff0000;padding-left: 5px;position: absolute;right: 0;}*/
/*.edit_frm label.error{left: inherit; right: 0;top:-5px;}*/
.edit_frm .progress{z-index: 12;position: absolute; bottom: 0;}
.edit_frm .info{display: inline-block;vertical-align: middle;}
#fileError1{display: block;vertical-align: top;font-size: 12px;line-height: 14px;color: #666666;padding-left: 33px;position: relative;}

.customSelect select.error{border-color: #ff0000;}
/*.customSelect .req_category + label.error{transform: translateY(2px);-webkit-transform: translateY(2px);-moz-transform: translateY(2px);-o-transform: translateY(2px);-ms-transform: translateY(2px);}*/
/*.customSelect .req_region + label.error{bottom:2px;}*/
.customSelect .req_category + label.error{bottom:-12px;}
.ui-selectmenu-icon.ui-icon{display: none;}

/* css only for hover effect all hover effect must write in this Media query */
@media only screen and (min-width: 1200px) {
.editForm .saveBtnClass:hover{background: #fff; color:#529a22; }

}

/* Custome responsive css start from here */

/* common css for below screen 1199 */
@media only screen and (max-width: 1199px) {}

/* common css for below screen 991 */
@media only screen and (max-width: 991px) {
/*.edit_frm .chk_Box .captionLabel{display: none;}*/
}

/* common css for below screen 767 */
@media only screen and (max-width: 767px) {
.edit_frm .formBoxHead{padding: 10px 8px; padding-left: 8px;}
.bottom_edit.formBoxHead{padding-right: 0px; padding-top: 20px;padding-bottom: 0;}
.edit_frm a.btn, .bottom_edit a.btn{padding: 2px 15px; font-size: 14px;margin-left: 0; margin-right: 0;}
/*#imgPreview a:after{top:-5px;right: -20px;}*/
.edit_frm .editForm, .bottom_edit .editForm{float: right;margin-right: 8px; width:100%; text-align:center}
.edit_frm .editForm a, .bottom_edit .editForm a{margin-left: 4px;}
.edit_frm .uploadBox input{display: inline-block;float: left;width: 100px;}
/*.edit_frm label.error{transform: translateY(-4px);-webkit-transform: translateY(-4px);-moz-transform: translateY(-4px);-o-transform: translateY(-4px);-ms-transform: translateY(-4px);}*/
/*.bannerUpload label.error {bottom: inherit;right: -100px;width: 100%;word-break: break-word;transform: translateY(2px);-webkit-transform: translateY(2px);-moz-transform: translateY(2px);-o-transform: translateY(2px);-ms-transform: translateY(2px);}*/
.edit_frm .note{font-size: 14px; line-height: 18px;}
/*.innerMain{padding: 20px 0;}*/
.bannerUpload + .info{margin-top: 20px;}
#video_url + .info{margin-bottom: 10px;}
.customSelect .req_category + label.error{bottom: 0;}
.editMain .customSelect .req_category + label.error{bottom: -10px;}
.edit_frm .pull-right.button_append{float: none !important; text-align: center;}

a.backBtnClass.btn.skyBlueBtn {margin: 0 0 0 4px !important;}
a.saveBtnClass.btn {margin: 0 0px 0 4px !important;}
}


/* common css for below screen 479 */
@media only screen and (max-width: 479px) {
.edit_frm .formBoxHead{padding: 10px 4px; padding-left: 4px;}
.bottom_edit.formBoxHead{padding-left: 4px;}
.edit_frm a.btn, .bottom_edit a.btn{padding:2px 7px; font-size: 14px;margin-right: -2px;}
.edit_frm .uploadBanner{width: 100%;}
}

@media only screen and (max-width: 350px) {
.edit_frm .editForm, .bottom_edit .editForm{float: none;margin-right: 0px; text-align: center;}
.edit_frm .editForm a, .bottom_edit .editForm a{margin-left: 1px;margin-right: 1px;}

a.saveBtnClass.btn {margin: 0 1px;}
a.backBtnClass.btn.skyBlueBtn {margin: 0 1px;}
}

/* common css for screen size between 480 to 767 */
@media only screen and (min-width: 480px) and (max-width: 767px) {}


/* common css for screen size between 568 to 767 */
@media only screen and (min-width: 568px) and (max-width: 767px) {
    .edit_frm .editForm, .bottom_edit .editForm{float: right;margin-right: 15px; width:100%; text-align:center}
    .bkSavBtn{float: right;}
}


/* common css for screen size between 600 to 767 */
@media only screen and (min-width: 600px) and (max-width: 767px) {}


/* common css for screen size between 768 to 1199 */
@media only screen and (min-width: 768px) and (max-width: 1199px) {}


/* common css for screen size between 768 to 1023 */
@media only screen and (min-width: 768px) and (max-width: 991px) {}


/* common css for screen size between 1024 to 1199 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}


